<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
<head>
	<title>Sokoni | <%= yield(:title) %></title>
</head>
<body>
<h1>About Us</h1>
<p>Founded in 2013 by 3 people led by Taurus Morgan, a holder of MA in  Accounting and Finance and Marketing Masters degrees from University of Nairobi and KeMU respectively.
Brian Mutuma a diploma in IT holder and currently on his B.Sc in Computer Science and Software Engineering degree from the University of South Africa. Our founders started our company to champion small businesses, in the belief that the Internet would level the playing field by enabling small enterprises to leverage innovation and technology to grow and compete more effectively in the domestic and global economies.</p>

	<h2>Our Vision</h2>
		<p>We aim to build the future infrastructure of commerce. We envision that our customers will meet, work and live at Sokoni, and that we will be a company that lasts at least 100 years</p>

	<h3>Meet @ Sokoni</h3>
		<p>We enable millions of commercial and social interactions among our users, between consumers and merchants, and among businesses every day.</p>
	
	<h3>Work @ Sokoni</h3>
		<p>We empower our customers with the fundamental infrastructure for commerce and data technology, so that they can build businesses and create value that can be shared among our ecosystem participants.</p>
	
	<h3>Live @ Sokoni</h3>
		<p>We strive to expand our products and services to become central to the everyday lives of our customers</p>
	
	<h3>100 Years</h3>
		<p>For a company that was founded in 2013, lasting at least 100 years means we will have spanned two centuries, an achievement that few companies can claim. Our culture, business models and systems are built to last, so that we can achieve sustainability in the long run.</p>
</body>
</html>