<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
<head>
	<title>Sokoni | Contact Us | <%=yield(:title)</title>
</head>
<body>
	<h1>Sokoni</h1>
		<p>This is our Contact page</p>
</body>
</html>